<%# 広告始め %>
<p>●広告</p>
<!-- 感想ページ -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2474857545411323"
     data-ad-slot="8972841732"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<%# 広告おわり %>
