<div class="book_info">
    <div class="book_info_inner">
        <div class="book_img_area">
            <%= image_tag('book_img.svg', alt:'本の画像', class:'book_img') %>
        </div>
        <table>
            <tr>
                <th>登録日</th>
                <td>2019/12/1</td>
            </tr>
            <tr>
                <th>読み始めた日</th>
                <td>2019/12/2</td>
            </tr>
            <tr>
                <th>読み終えた日</th>
                <td>2019/12/25</td>
            </tr>
            <tr>
                <th>評価</th>
                <td>星で評価</td>

            </tr>
        </table>
    </div>
    <div>
        <p>本の情報</p>
        タイトル、ISBN番号、出版社、アマゾンリンク？
    </div>
    <div>
        <p>ツイッターでつぶやく</p>
    </div>
</div>
<div>
    <p>感想</p>
    <p>画像</p>
</div>
<div>
    <p>行動目標</p>
    <p>結果</p>
</div>