<div class="book_info">
    <div class="book_info_inner">
        <div class="book_img_area">
            <%= image_tag('book_img.svg', alt:'本の画像', class:'book_img') %>
        </div>
    </div>
    <div>
        <p>本の情報</p>
    </div>
    <table>
        <tr>
            <th>タイトル</th>
            <td></td>
        </tr>
        <tr>
            <th>著者</th>
            <td></td>
        </tr>
        <tr>
            <th>出版社</th>
            <td></td>
        </tr>
        <tr>
            <th>ISBN番号？？いらないかも</th>
            <td></td>
        </tr>
        <tr>
            <th>アマゾンリンク？</th>
            <td></td>
        </tr>
    </table>



</div>
<div>
    <p>本棚に置くボタン</p>
</div>
この本を読んだ人
