<%= form_with(model: User.new, url:"/users/update_self_introduction", remote: true) do |form| %>
    <div class="page_wrapper">
        <p class="page_title">プロフィール編集</p>
        <div class="home_header">
            <div class="user_icon">
                <%#= link_to(image_tag('person_default.svg', alt:'ユーザーアイコン'),user_path) %>
            </div>
            <div class="user_name">
                <%= form.text_field :account_name ,value: @user.account_name %>
                <p>twitter_account</p>
            </div>
            <button>
                編集完了
            </button>
        </div>
        <div>
            <%= form.text_area :self_introduction ,value: @user.self_introduction, class: 'self_introduction', maxlenth: '160' %>
            <%=  %>
        </div>
    </div>
<% end %>