<%= form_with(model: User.new, url:"/users/update_self_introduction") do |form| %>
    <div class="page_wrapper">
        <button class="submit_btn_small">
            編集完了
        </button>
        <div class="self_introduction_area" >
            <%= form.text_area :self_introduction ,value: @user.self_introduction, class: 'self_introduction input_area', maxlenth: '160' %>
            <%=  %>
        </div>
    </div>
<% end %>