<div class="page_wrapper">
    <p class="page_title">プロフィール編集</p>
    <div class="home_header">
        <div class="user_icon">
            <%= link_to(image_tag('person_default.svg', alt:'ユーザーアイコン'),user_path) %>
        </div>
        <div class="user_name">
            <p>user_name</p>
            <p>twitter_account</p>
        </div>
        <button>
            <%= link_to '編集完了', update_path, class:'button' %>
        </button>
    </div>
    <div>
        <p>
            自己紹介ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        </p>
    </div>
</div>
