<div class="home">
    <div class="home_header">
        <div class="user_icon">
            <%= link_to(image_tag('person_default.svg', alt:'ユーザーアイコン'), "/users/#{current_user.id}") %>
        </div>
        <div class="user_name">
            <p>
                <%= @user.account_name %>
            </p>
        </div>
        <div class="attention">
            <%= link_to(image_tag('bell.svg', alt:'お知らせ'),notice_path) %>
        </div>
    </div>



    <h1 class="comment">ユーザーホーム1</h1>
    <h1 class="comment">ユーザーホーム2</h1>
    <h1 class="comment">ユーザーホーム3</h1>
    <h1 class="comment">ユーザーホーム4</h1>
    <h1 class="comment">ユーザーホーム5</h1>
    <h1 class="comment">ユーザーホーム6</h1>
    <h1 class="comment">ユーザーホーム7</h1>
    <h1 class="comment">ユーザーホーム8</h1>
    <h1 class="comment">ユーザーホーム9</h1>
    <h1 class="comment">ユーザーホーム0</h1>
    <h1 class="comment">ユーザーホーム1</h1>
    <h1 class="comment">ユーザーホーム2</h1>
</div>