
                <%= form_with url:"/books/search_by_isbn/" do |f| %>
                <%= f.file_field :book_barcode_area, accept: ".jpg,.gif,.png,image/gif,image/jpeg,image/png,pgf" %>
                <%# 送信用ボタン（ajaxでクリックさせる） %>
                <button id="send_thumbnail">送信する</button>
                <% end %>
