お知らせ

  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
  <style>
  #sortable1 li, #sortable2 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }
  </style>
  <script>
  $(function() {
    $( "#sortable1, #sortable2" ).sortable().disableSelection();
    var $tabs = $( "#tabs" ).tabs();
    var $tab_items = $( "ul:first li", $tabs ).droppable({
      accept: ".connectedSortable li",
      hoverClass: "ui-state-hover",
      drop: function( event, ui ) {
        var $item = $( this );
        var $list = $( $item.find( "a" ).attr( "href" ) )
          .find( ".connectedSortable" );
        ui.draggable.hide( "slow", function() {
          $tabs.tabs( "option", "active", $tab_items.index( $item ) );
          $( this ).appendTo( $list ).show( "slow" );
        });
      }
    });
  });
  </script>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">タブ1(ドロップしてください)</a></li>
    <li><a href="#tabs-2">タブ2(ドロップしてください)</a></li>
  </ul>
  <div id="tabs-1">
    <ul id="sortable1" class="connectedSortable ui-helper-reset">
      <li class="ui-state-default">項目 1</li>
      <li class="ui-state-default">項目 2</li>
      <li class="ui-state-default">項目 3</li>
      <li class="ui-state-default">項目 4</li>
      <li class="ui-state-default">項目 5</li>
    </ul>
  </div>
  <div id="tabs-2">
    <ul id="sortable2" class="connectedSortable ui-helper-reset">
      <li class="ui-state-highlight">項目 1</li>
      <li class="ui-state-highlight">項目 2</li>
      <li class="ui-state-highlight">項目 3</li>
      <li class="ui-state-highlight">項目 4</li>
      <li class="ui-state-highlight">項目 5</li>
    </ul>
  </div>
</div>

タッチイベント可能？？
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

<script type="text/javascript">
<!--
$(function() {
  $("#sortableArea").sortable();
});
//-->
</script>

<div style="background-color:#CCC; padding : 20px 20px 10px;">
  <div id="sortableArea">
    <div class="ui-state-default">１</div>
    <div class="ui-state-default">２</div>
    <div class="ui-state-default">３</div>
    <div class="ui-state-default">４</div>
    <div class="ui-state-default">５</div>
  </div>
</div>