    <div class="recomend">
        <a href="https://amzn.to/3aa10KQ" class="book_link">
            <p class="top_thumbnail"><img src="http://books.google.com/books/content?id=4GqdwAEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top book_title">FACTFULNESS（ファクトフルネス）</p>
        </a>
    </div>
    <div class="recomend">
        <a href="https://amzn.to/2QKyxU4" class="book_link">
            <p class="top_thumbnail"><img src="http://books.google.com/books/content?id=2QKyxU4&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top book_title">ライオンのおやつ</p>
        </a>
    </div>    <div class="recomend">
        <a href="https://amzn.to/3jzJxQX" class="book_link">
            <p class="top_thumbnail"><img src="http://books.google.com/books/content?id=3jzJxQX&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top book_title">銀翼のイカロス</p>
        </a>
    </div>