<h2>Release note</h2>

<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.4.5</p>
        <p>2020/03/15 (Sun)</p>
    </div>
    <p>
        感想の公開設定を設定できるようにしました。<br>
        感想はアプリ内で公開したくないけど、読書記録に使いたいという方にも<br>
        気兼ねなく使っていただければうれしいです。<br>
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.3.4</p>
        <p>2020/03/15 (Sun)</p>
    </div>
    <p>
        ツイッターカードの画像を投稿した画像にして、サイズを大きくしました。<br>
        画像を投稿していないときは、本の画像を表示させます。<br>
        本とその周りの画のバランスを楽しむこともできます。<br>
        ぜひ試してみてくださいね。
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.2.3</p>
        <p>2020/03/14 (Sat)</p>
    </div>
    <p>
        本および感想の削除機能を追加しました。<br>
        本棚や感想のページの時間表示の隣の🎆マークをクリックすると消すことができます。<br>
        本や感想を間違えて登録してしまっても消すことができるようになりました！<br>
        ぜひ気楽に本を本棚に入れたり投稿したりしてみてくださいね。
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.1.2</p>
        <p>2020/03/13 (Fri)</p>
    </div>
    <p>
        Release noteを作成しました。<br>
        ボタンのレイアウトを微調整しました。
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.0.1</p>
        <p>2020/03/13 (Fri)</p>
    </div>
    <p>
        「読書のわ」をリリースしました！みなさまの読書を少しでも楽しくできるアプリにしたいと考え、このアプリを作りました。読書をしていると、感想は読んでいる間に次々と浮かんでくるもの。浮かんだときにすぐに残す。そして、それをツイートもできる。後から本の感想を見返すとあのときあんなふうに思ったんだなぁと、後から懐かしむこともできます。自分自身の変化を感じられ、それも楽しみの一つになるのではないでしょうか？<br>
        そんな思いを持ってこのアプリを作りました。ぜひ遊んでいただけると嬉しいです。<br>
        使い勝手が悪かったり、機能が少ないと思いますが、どんどんバージョンアップしていきます。このアプリの成長も感じていただければこんなにうれしいことはありません。<br>
        これから読書のわをどうぞよろしくお願いいたします！ 
    </p>
</div>



