<h2>Release note</h2>

<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.1.6.21</p>
        <p class="release_date">2020/06/17 (Wed)</p>
    </div>
    <p>
        本を違う本棚に移動するとき、メッセージを表示して、本の移動が完了したことをお知らせするようにしました。
        <br>
        本の移動が完了したかどうかわかりにくかったのを改善しました。
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.1.5.20</p>
        <p class="release_date">2020/06/16 (Tue)</p>
    </div>
    <p>
        本の並びが横並びのとき、本棚を整理するボタンをクリックすると、本がゆらゆら揺れて移動できることを直感的に認識できるようにしました。
        <br>
        本を違う本棚に移動するのをドラッグアンドドロップで移動先の本棚へ移動させると本を移動できるようにしました。
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.1.4.19</p>
        <p class="release_date">2020/05/31 (Sun)</p>
    </div>
    <p>
        本棚画面で本棚を追加したり本棚に本を移動できるようになりました。
        <br>
        本棚は名前を自由に決めることができます。
        <br>
        読み途中の本棚、読みたい本リスト、読了した本やカテゴリー分けするなど好きなように本棚を編集できます！ 
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.1.3.18</p>
        <p class="release_date">2020/04/19 (Sun)</p>
    </div>
    <p>
        本棚画面の上部にあった本棚種類を変えるボタンと本を削除するアイコン、本を並べ替えるときのハンドルアイコンを隠し、本棚を整理するボタンをクリックすることで表示させるように変更しました。
        <br>
        また、本をキーワードから探すボタンと本をバーコードから探すボタンを隠し、本を探すボタンをクリックすることで表示させるようにしました。
        <br>
        普段使用する本の情報以外のアイコンは隠してスッキリさせてみました。
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.1.2.17</p>
        <p class="release_date">2020/04/12 (Sun)</p>
    </div>
    <p>
        本棚の並びを横に並べるか縦に並べるかを１クリックで変更できるようにしました。<br>
        本の並べ方によって本のタイトルも表示させるか、サムネイルだけにするかの違いです。本の探しやすさをお好みによって変えることができるようになりました。<br>
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.1.1.16</p>
        <p class="release_date">2020/04/11 (Sat)</p>
    </div>
    <p>
        本のバーコードをスキャンして本を探せるようにしました。<br>
        お手持ちの本を簡単に探して本棚に登録できるようになりました。<br>
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.14.15</p>
        <p class="release_date">2020/03/29 (Sun)</p>
    </div>
    <p>
        フッターアイコンの色と形状を変更しました。<br>
        目に優しい色に変更し、今いるメニューがわかるように他のアイコンがグレーになるようにしました。<br>
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.13.14</p>
        <p class="release_date">2020/03/28 (Sat)</p>
    </div>
    <p>
        本棚の本を並べ替えられるようにしました。<br>
        まだ読んでない本、今読んでいる本など上下に移動できるようにしました。<br>
        今後は複数の本棚をカテゴリーを自由に作って本を保存できるようにしていきます。
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.12.13</p>
        <p class="release_date">2020/03/25 (Wed)</p>
    </div>
    <p>
        感想ページのサムネイルをクリックするとサムネイルを変更できるようにしました。<br>
        ボタンを減らしてスッキリさせてみました。<br>
        また、スマホでの利用を想定しているので、よく使うボタンを右側に移動しました。<br>
        少しでも楽に使っていただければ嬉しいです。
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.11.12</p>
        <p class="release_date">2020/03/23 (Mon)</p>
    </div>
    <p>
        変更したサムネイルをツイッターカードに表示できるようにしました。<br>
        ツイッターでつぶやくときに好きな画像を表示できるよ。
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.10.11</p>
        <p class="release_date">2020/03/22 (Sun)</p>
    </div>
    <p>
        本棚と感想ページのサムネイルをユーザー独自の画像に変更できるようにしました。<br>
        オリジナルの写真で本棚を楽しんでください。<br>
        感想ページに表示されているサムネイルは他のユーザーからも見てもらえるようになっています。<br>
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.9.10</p>
        <p class="release_date">2020/03/19 (Thu)</p>
    </div>
    <p>
        画像投稿するときのサイズ調整をしました。<br>
        大きいサイズはツイッターカードに表示してくれなかったので、<br>
        これでどんなサイズを投稿していただいても大丈夫です！<br>
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.8.9</p>
        <p class="release_date">2020/03/18 (Wed)</p>
    </div>
    <p>
        感想をクリックするとユーザーの感想へのリンクするクリックエリアを広くしました。<br>
        トップページに本の評価点数を表示しました。<br>
        未評価のときは「-」で表示するようにしました。<br>
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.7.8</p>
        <p class="release_date">2020/03/16 (Mon)</p>
    </div>
    <p>
        アフィリエイトリンクを設置させていただきました。<br>
        サイトの邪魔にならないように設置しました。<br>
        申し訳ありませんが、サイト運営のため、ご理解いただけると嬉しいです。<br>
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.6.7</p>
        <p class="release_date">2020/03/16 (Mon)</p>
    </div>
    <p>
        退会機能を実装しました。<br>
        大変悲しい機能ではありますが、みなさまに気楽に使っていただけるようにと思い設置しました。<br>
        念の為、アラートだけつけさせていただきました。<br>
        これによりすべての本や感想の情報が削除されます。<br>
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.5.6</p>
        <p class="release_date">2020/03/15 (Sun)</p>
    </div>
    <p>
        お問い合わせ画面の微修正とその他表示を調整しました。<br>
        今回の変更によるみなさまへの影響はありません。<br>
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.4.5</p>
        <p class="release_date">2020/03/15 (Sun)</p>
    </div>
    <p>
        感想の公開設定を設定できるようにしました。<br>
        感想はアプリ内で公開したくないけど、読書記録に使いたいという方にも<br>
        気兼ねなく使っていただければうれしいです。<br>
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.3.4</p>
        <p class="release_date">2020/03/15 (Sun)</p>
    </div>
    <p>
        ツイッターカードの画像を投稿した画像にして、サイズを大きくしました。<br>
        画像を投稿していないときは、本の画像を表示させます。<br>
        本とその周りの画のバランスを楽しむこともできます。<br>
        ぜひ試してみてくださいね。
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.2.3</p>
        <p class="release_date">2020/03/14 (Sat)</p>
    </div>
    <p>
        本および感想の削除機能を追加しました。<br>
        本棚や感想のページの時間表示の隣の🎆マークをクリックすると消すことができます。<br>
        本や感想を間違えて登録してしまっても消すことができるようになりました！<br>
        ぜひ気楽に本を本棚に入れたり投稿したりしてみてくださいね。
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.1.2</p>
        <p class="release_date">2020/03/13 (Fri)</p>
    </div>
    <p>
        Release noteを作成しました。<br>
        ボタンのレイアウトを微調整しました。
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.0.1</p>
        <p class="release_date">2020/03/13 (Fri)</p>
    </div>
    <p>
        「読書のわ」をリリースしました！みなさまの読書を少しでも楽しくできるアプリにしたいと考え、このアプリを作りました。読書をしていると、感想は読んでいる間に次々と浮かんでくるもの。浮かんだときにすぐに残す。そして、それをツイートもできる。後から本の感想を見返すとあのときあんなふうに思ったんだなぁと、後から懐かしむこともできます。自分自身の変化を感じられ、それも楽しみの一つになるのではないでしょうか？<br>
        そんな思いを持ってこのアプリを作りました。ぜひ遊んでいただけると嬉しいです。<br>
        使い勝手が悪かったり、機能が少ないと思いますが、どんどんバージョンアップしていきます。このアプリの成長も感じていただければこんなにうれしいことはありません。<br>
        これから読書のわをどうぞよろしくお願いいたします！ 
    </p>
</div>



