<h2>Release note</h2>

<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.1.2</p>
        <p>2020/03/13 (Fri)</p>
    </div>
    <p>
        Release noteを作成しました。
    </p>
</div>
<div class="release_note_block">
    <div class="release_note_header">
        <p class="release_note_title">dokusyo-no-wa 1.0.0.1</p>
        <p>2020/03/13 (Fri)</p>
    </div>
    <p>
        「読書のわ」をリリースしました！みなさまの読書を少しでも楽しくできるアプリにしたいと考え、このアプリを作りました。読書をしていると、感想は読んでいる間に次々と浮かんでくるもの。浮かんだときにすぐに残す。そして、それをツイートもできる。後から本の感想を見返すとあのときあんなふうに思ったんだなぁと、後から懐かしむこともできます。自分自身の変化を感じられ、それも楽しみの一つになるのではないでしょうか？<br>
        そんな思いを持ってこのアプリを作りました。ぜひ遊んでいただけると嬉しいです。<br>
        使い勝手が悪かったり、機能が少ないと思いますが、どんどんバージョンアップしていきます。このアプリの成長も感じていただければこんなにうれしいことはありません。<br>
        これから読書のわをどうぞよろしくお願いいたします！ 
    </p>
</div>



