<div class="item_block">
    <p class="sub_title">ユーザー設定</p>
</div>
<div class="item_block">
    <%= link_to('プロフィールの編集') %>
</div>
<div class="item_block">
    <p class="sub_title">公開情報設定</p>
    <%= form_with(model:User.new, ) %>
    <table class="sub_item">
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <th>
                感想
            </th>
            <td>
                <div class="app_checkbox">
                    <input id="impression" value="1" name="impression" type="checkbox"><label for="impression"></label>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <th>
                感想画像
            </th>
            <td>
                <div class="app_checkbox">
                    <input id="impression_img" value="1" name="impression_img" type="checkbox"><label for="impression_img"></label>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="item_block">
    <p class="sub_title">読書履歴</p>
</div>
<div class="item_block">
    <p class="sub_title">
        <%= link_to('ご意見・ご要望', request_path) %>
    </p>
</div>
<div class="item_block">
</div>
<div class="item_block">
    <p class="sub_title">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </p>
</div>

