<div class="book_info">
    <div>
        <p>本棚</p>
    </div>
    <div class="book_img_box">
        <%= image_tag('book_img.svg', class:'book_img') %>
        <div class="book_title">本のタイトル</div>
    </div>
</div>