<%= link_to "本を探す", book_show_form_path, remote: true %>
<div class="page_wrapper">
    <div id="search_book_form"></div>
    <div class="book_img_box">
        <%= link_to image_tag('book_img.svg', class:'book_img'), impression_path %>
        <div class="book_title">本のタイトル</div>
    </div>
    <div class="book_img_box">
        <%= image_tag('book_img.svg', class:'book_img') %>
        <div class="book_title">本のタイトル</div>
    </div>
</div>