<div class="footer">
    <a href="<%= root_path %>" class="home_icon" data-turbolinks="false">
        <img src="/assets/home.svg" alt="">
    </a>
    <a href="<%= shelf_path %>" class="bookshelf_icon" data-turbolinks="false">
        <img src="/assets/bookshelf.svg" alt="">
    </a>
    <a href="<%= setting_path %>" class="setting_icon">
        <img src="/assets/setting.svg" alt="">
    </a>
</div>