<div class="footer">
    <%= link_to image_tag('home.svg'), '/' , alt:'ホーム', class:'home_icon'%>
    <%= link_to image_tag('bookshelf.svg'), shelf_path, alt:'本棚', class:'bookshelf_icon' %>
    <%= link_to image_tag('setting.svg'), setting_path, alt:'設定', class:'setting_icon'%>
</div>