<div class="footer">
    <a href="<%= root_path %>" class="home_icon" data-turbolinks="false">
        <% if @home_flg.present? && @home_flg === true %>
            <img src="/assets/home.svg" alt="ホームアイコン選択時">
        <% else %>
            <img src="/assets/home_gray.svg" alt="ホームアイコン非選択時">
        <% end %>
    </a>
    <a href="<%= shelves_path %>" class="bookshelf_icon" data-turbolinks="false">
        <% if @bookshelf_flg.present? && @bookshelf_flg === true %>
            <img src="/assets/bookshelf.svg" alt="本棚アイコン選択時">
        <% else %>
            <img src="/assets/bookshelf_gray.svg" alt="本棚アイコン非選択時">
        <% end %>
    </a>
    <a href="<%= analyses_path %>" class="setting_icon">
        <% if @analysis_flg.present? && @analysis_flg === true %>
            <img src="/assets/analysis.svg" alt="分析アイコン選択時">
        <% else %>
            <img src="/assets/analysis_gray.svg" alt="分析アイコン非選択時">
        <% end %>
    </a>
</div>