    <div class="home_header">
        <div class="user_icon">
            <% if @user.image %>
            <%= link_to image_tag(@user.image, alt:'ユーザーアイコン'), "/users/#{@user.id}" %>
            <% else %>
            <%= link_to(image_tag('person_default.svg', alt:'ユーザーアイコン'), "/users/#{@user.id}") %>
            <% end %>
        </div>
        <div class="user_name">
            <p>
                <%= @user.name %>
            </p>
        </div>
        <div class="attention">
            <a href="<%= setting_path %>" class="setting_icon">
                <% if @setting_flg.present? && @setting_flg === true %>
                    <img src="/assets/setting.svg" alt="設定アイコン選択時">
                <% else %>
                    <img src="/assets/setting_gray.svg" alt="設定アイコン非選択時">
                <% end %>
                <%#= link_to(image_tag('bell.svg', alt:'お知らせ'),notice_path) %>
            </a>
        </div>
    </div>
