<div class="balloon5">
    <div class="faceicon">
        <%= image_tag "administrator.png", class: "user_icon" %>
    </div>
    <a href="/" class="">
        <div class="chatting">
            <div class="says">
                この吹き出しをクリックして投稿一覧ものぞいてみてね！
            </div>
        </div>
    </a>
</div>
