<%= render partial: "analyses/summary" %>
<div id="chartdiv" class="history_chart"></div>
<div id="chart_data" data-json="<%= @data %>"></div>
<input type="hidden" id="y_axis" value="<%= @yaxis %>">

