<div class="balloon5">
    <div class="faceicon">
        <%= image_tag "administrator.png", class: "user_icon" %>
    </div>
    <div class="chatting">
        <div class="says">
            貴重なご意見ありがとうございます！<br>
            後ほど管理者から返信させていただきます！
        </div>
    </div>
</div>

<%= link_to "問合せページに戻る", contacts_path %>