<%= form_with(url: book_search_path ) do |f| %>
    <%= f.text_field :keyword, placeholder: 'キーワード' %>
    <button>検索する</button>
<% end %>
        <div class="attention">
            <%= link_to(image_tag('bell.svg', alt:'お知らせ'),book_search_path) %>
        </div>
