<%= form_with(url: books_search_path ) do |f| %>
<div class="search_book_keyword_area">
    <%= f.text_field :keyword, placeholder: 'キーワード', class: "search_book_keyword_input_area"%>
    <button class="submit_btn_small">検索する</button>
</div>
<% end %>