<p>検索条件</p>
<%= @results.each do |result| %>
    <div class="book_img_box">
        <a href="/books/info/978-4822289607" >
            <p id="thumbnail" class="thumbnail_top">
                <img src="https://cover.openbd.jp/9784822289607.jpg">
            </p>
        </a>
        <div id="title_">FACTFULNESS（ファクトフルネス）</div>
    </div>
<% end %>
