// Place all the styles related to the analysis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.analysis_table {
    margin: 0 auto;
    padding: 3px;
}

.analysis_table_tr {
    height: 30px;
}

.analysis_table_th, .analysis_table_td {
    padding: 0 5px;
    border-bottom: 1px solid #E8F7B6;
}

.chart_title {
    text-align: center;
}

.history_chart {
    width: 100%;
    height: 300px;
}






