.main_container {
    margin: 0 auto;
    position: relative;
    padding-bottom: 50px;
}

.sub_container {
    padding: 5px;
    margin: 0 auto 80px;
}

.impression {
    padding: 0 10px;
}

.button {
    text-decoration: none;
}

.input_table {
    max-width: 800px;
    margin: 0 auto;
}

.label_name label{
  width: 30vw;
  margin: 5px 0;
}

.input_field input{
  width: 80vw;
  max-width: 700px;
  margin: 5px 0;
  line-height: 2em;
  border: 1px solid #999;
  border-radius: 5px;
  background: #B2D8DE; 
}

.submit_btn {
  width: 200px;
  margin: 0 auto;
}

.submit_btn input{
  color :#ffffff;
  font-size: 16px;
  width: 200px;
  height: 40px;
  background-color: #1D4E56;
  border-radius: 5px;
  text-align: center;
}

.submit_btn a{
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  color :#ffffff;
  font-size: 16px;
  width: 200px;
  height: 40px;
  background-color: #1D4E56;
  border-radius: 5px;
}

.forget_pass {
    text-align: center;
}

.submit_btn_small input, .submit_btn_small a, .submit_btn_small{
  color :#ffffff;
  font-size: 12px;
  background-color: #1D4E56;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
}

.submit_btn_small input:active, .submit_btn_small a:active, .submit_btn_small:active　{
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.input_area {
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.contacta_area form{
  display: block;
}

/* タイトル */
.title {
  padding: 0.5em;/*文字周りの余白*/
  margin-bottom: 0.5em;
  background: #fffaf4;/*背景色*/
  border-left: solid 5px #1D4E56;/*左線（実線 太さ 色）*/
}

/* セレクトボックスのデザイン */
.cp_ipselect {
  overflow: hidden;
  text-align: center;
}
.cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
  position: relative;
  border: 1px solid;
  border-radius: 5px;
}
.cp_ipselect.cp_sl01::before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}

.cp_ipselect.cp_sl01 select {
  padding: 8px 38px 8px 8px;
  color: #666666;
}

.twitter_button {
  position: relative;
  color : #ffffff;
  font-size: 12px;
  background-color: #1DA1F2;
  border-radius: 5px;
  text-decoration: none;
}

.twitter_button:before {
  content: '';
  position: absolute;
  background-image: url(Twitter_Social_Icon.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}

.sns_login_button {
  width: 200px;
  margin: 0 auto 20px;

}
.information_block {
  margin-top: 20px;
}

/* 吹き出しはじめ */
.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.balloon5 .faceicon img{
  width: 100%;
  height: auto;
  border: solid 3px #d7ebfe;
  border-radius: 50%;
}

.balloon5 .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative; 
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7ebfe;
}

.says p {
  margin: 0;
  padding: 0;
}
/* 吹き出し終わり */

