.footer {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0; /*下に固定*/
    position: fixed; /*下に固定*/
    border-top: gray solid 1px;
}

.home_icon, .bookshelf_icon, .setting_icon {
    width: 40px;
    padding-top: 5px;
}

.home_icon {
    margin-left: 15%;
}

.setting_icon {
    margin-right: 15%;
}

