.shelf_buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

#shelf_menu {
    display: flex;
    justify-content: space-between;
}

.book_type_icon {
    width: 32px;
    padding: 4px;
    margin-right: 15px;
}

.arrange_shelf {
    display: flex;
    margin-right: auto;
}

.book_img_box {
    display: flex;
    padding: 5px;
    margin: 10px 0;
    border-bottom: 1px solid #E8F7B6;
}

.book_img {
    width: 20vw;
    max-width: 100px;
    cursor: pointer;
}

.search_book_button {
    margin-right: 20px;
}

.book_counter_icon {
    width: 18px;
}

.book_count_info {
    display: flex;
}

.book_count {
    padding-top: 10px;
    padding-left: 10px;
}

.shelf_book {
    width: 8vw;
    margin: 5px;
}

.shelf_link {
    text-decoration: none;
    width: 100%;
}

.shelf_side_ico {
    margin-left: auto;
}

.handle:hover {
    cursor: pointer;
}

.handle {
    width: 21px;
    padding: 10px 4px;
}

.block_shelf_book_and_icon {
    display: flex;
    max-width: 100px;
}

.book_count_info_block {
    max-width: 100px;
}

.shelf_type_block {
    display: flex;
    flex-wrap: wrap;
}

.block_shelf_item {
    width: 20%;
    max-height: 130px;
    margin-bottom: 5px;
    border-bottom: 1px solid #E8F7B6;
}

.thumbnail_block_shelf {
    width: 11vw;
    max-width: 75px;
    max-height: 140px;
}

.block_shelf_item .shelf_book {
    width: 10vw;
    max-width: 53px;
    margin: 5px;
}

.block_shelf_item .book_count {
    padding: 0;
    font-size: 10px;
}

.block_shelf_item .book_count_info {
    align-items: flex-end;
}

.block_shelf_item .book_count_info img {
    width: 10px;
}
