// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* ログインページはじめ */
.logo_top {
    background-image: url("Reading Circle.png");
    margin: 0 auto;
    width: 80vw;
    height: 80vw;
    max-width: 300px;
    max-height: 300px;
    background-size: cover;
}

/* ログインページ終わり */

/* ホームはじめ */
.home_header {
    display: flex;
    justify-content: space-around;
    padding: 3px;
    border-bottom: 1px solid;
}

/* 感想ブロックはじめ */
.user_icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffffff;
    position:relative;
    overflow: hidden;
}

.top_impression_block {
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #E8F7B6;
}

.top_impression_items {
    display: flex;
}

.top_impression_items a {
    text-decoration: none
}

.top_impression_and_book {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    width: 100%;
}
.top_thumbnail img {
    width: 13vw;
    margin-right: 5px;
}

.book_title {
    color: #A9AC5F;
    font-weight: 700;
    font-size: 16px;
}
/* 感想ブロックおわり */


.comment {
    text-align: center;
}

.user_name {
    padding: 10px;
}

.user_name p {
    line-height: 2em;
}

.user_icon .user_icon_img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height:100%;
}

.attention {
    width: 20px;
}

.recomend {
    margin: 10px;
}

.book_link {
    text-decoration: none;
    display: flex;
}

.title_top {
    margin-top: 5vw;
    max-height: 150px;
}



/* ホーム終わり */


/* 本棚はじめ */
.book_img_box {
    display: flex;
    padding: 5px;
    margin: 10px 0;
}

.book_img {
    width: 13vw;
    max-width: 100px;
}

.search_book_button {
    padding: 12px;
}

.book_counter_icon {
    width: 18px;
}

.book_count_info {
    display: flex;
}

.book_count {
    padding-top: 10px;
    padding-left: 10px;
}

.shelf_book {
    margin: 5px;
}

.shelf_impression_link {
    text-decoration: none;
}
/* 本棚終わり */

/* 感想はじめ */
.book_info_inner {
    display: flex;
}

.book_img_area {
    padding: 10px;
    margin-right: 10px
}

#thumbnail img{
    height: 20vw;
    max-height: 150px;
}
/* 感想終わり */





/* セッティングはじめ */
.item_block a {
    text-decoration: none;
    margin: 20px;
    line-height: 40px;
}

.app_checkbox {
    margin-left: 100px; 
}
/* 本来のチェックボックスを非表示 */
.app_checkbox input[type="checkbox"]{
    display: none;
}

.app_checkbox input[type="checkbox"]+label{
    cursor: pointer;
    display: inline-block;
    box-sizing: content-box;
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #FFFBF4;
    border: 2px solid #CCC;
    border-radius: 20px;
}

.app_checkbox input[type="checkbox"]:checked+label{
    background-color: #78D376;
    border-color: #78D376;
}

.app_checkbox input[type="checkbox"]+label:before{
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px; /* widthと同じ 上のラベルの高さに揃える */
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 2px 2px 4px gray;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.app_checkbox input[type="checkbox"]:checked+label:before{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.greeting_from_admin {
    padding: 10px;
}


/* セッティング終わり */

/* ユーザー情報はじめ */
.self_introduction {
    width: 100%;
    height: 200px;
}

.self_introduction_area {
    width: 100%;
    margin: 10px 0;
}

.book_owner_info {
    display: flex;
}

.book_owner_info p {
    padding-left: 15px;
    line-height: 48px;
    text-align: left;
}

.book_owner_name {
    display: flex;
}

.twitter_account_link {
    width: 40px;
    margin: auto;
}

.twitter_icon img {
  width: 40px;
  border-radius: 50%;
}


/* ユーザー情報終わり */

/*ログインページ始め*/
.tweet_button {
  display: block;
  width: 80px;
  border-radius: 5px;
  margin-left: auto;
}

.tweet_button:hover {
  cursor: pointer;
}

.sign_in {
  display: block;
  width: 220px;
  border-radius: 5px;
  margin: 0 auto;
}


.sign_in_button img{
    background-color: #1DA1F2;
    height: 30px;
}

.sign_in_button {
    display: flex;
    background-color: #1DA1F2;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
}

.sign_in_button p {
    background-color: #1DA1F2;
    color: #ffffff;
    line-height: 30px;
}

.important_info {
    max-width: 300px;
    margin: 50px auto 0;
}

.important_info a {
    font-size: 12px;
}
/*ログインページ終わり*/

