// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* ログインページはじめ */
.logo_top {
    background-image: url(ReadingCircle.png);
    margin: 0 auto;
    width: 80vw;
    height: 80vw;
    max-width: 300px;
    max-height: 300px;
    background-size: cover;
}

/* ログインページ終わり */

/* ホームはじめ */
.home_header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.user_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    position:relative;
    overflow: hidden;
}

.comment {
    text-align: center;
}

.user_name {
    padding: 10px;
}

.user_icon .user_icon_img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height:100%;
}

.attention {
    width: 20px;
}
/* ホーム終わり */


/* 本棚はじめ */
.book_img_box {
    display: flex;
    padding: 20px;
    margin: 10px 0;
}

.book_img {
    width: 50px;
}

.book_title {
    padding-left: 20px;
    line-height: 40px;
}
/* 本棚終わり */

/* 本の情報はじめ */
.book_info_inner {
    display: flex;
}

.book_img_area {
    padding: 10px 30px 10px 10px;
}
/* 本の情報終わり */

/* セッティングはじめ */

/* セッティング終わり */

/* ユーザー情報はじめ */

/* ユーザー情報終わり */


/* お知らせはじめ */

/* お知らせ終わり */


