// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* ログインページはじめ */
.logo_top {
    background-image: url(ReadingCircle.png);
    margin: 0 auto;
    width: 80vw;
    height: 80vw;
    max-width: 300px;
    max-height: 300px;
    background-size: cover;
}

/* ログインページ終わり */

/* ホームはじめ */
.home_header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.user_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    position:relative;
    overflow: hidden;
}

.comment {
    text-align: center;
}

.user_name {
    padding: 10px;
}

.user_icon .user_icon_img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height:100%;
}

.attention {
    width: 20px;
}

.recomend {
    margin: 10px;
}

.book_link {
    text-decoration: none;
    display: flex;
}

.thumbnail_top img {
    height: 20vw;
    max-height: 150px;
    border:solid 1px #1D4E56;
    margin: 0 20px;
}

.title_top {
    margin-top: 5vw;
    max-height: 150px;
}



/* ホーム終わり */


/* 本棚はじめ */
.book_img_box {
    display: flex;
    padding: 20px;
    margin: 10px 0;
}

.book_img {
    width: 50px;
}

.book_title {
    padding-left: 20px;
    line-height: 40px;
}
/* 本棚終わり */

/* 本の情報はじめ */
.book_info_inner {
    display: flex;
}

.book_img_area {
    padding: 10px 30px 10px 10px;
}
/* 本の情報終わり */

/* セッティングはじめ */
.app_checkbox {
    margin-left: 100px; 
}
/* 本来のチェックボックスを非表示 */
.app_checkbox input[type="checkbox"]{
    display: none;
}

.app_checkbox input[type="checkbox"]+label{
    cursor: pointer;
    display: inline-block;
    box-sizing: content-box;
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #FFFBF4;
    border: 2px solid #CCC;
    border-radius: 20px;
}

.app_checkbox input[type="checkbox"]:checked+label{
    background-color: #78D376;
    border-color: #78D376;
}

.app_checkbox input[type="checkbox"]+label:before{
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px; /* widthと同じ 上のラベルの高さに揃える */
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 2px 2px 4px gray;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.app_checkbox input[type="checkbox"]:checked+label:before{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}




/* セッティング終わり */

/* ユーザー情報はじめ */
.self_introduction {
    width: 100%;
    height: 200px;
}


/* ユーザー情報終わり */


/* お知らせはじめ */

/* お知らせ終わり */


